**/.vs/
**/.vs*
**/Assembly*
**/Library/
**/Logs/
**/Packages/
**/ProjectSettings/
**/Temp/
**/obj/
**/UIElementsSchema/
**/Assets/*
!**/Assets/Scenes/
!**/Assets/Usable/
!**/Assets/Scripts/
!**/Assets/Prefabs/
!**/Assets/Editor/
!**/Assets/Music/
**/**/*.meta

**.zip
godot/Godot_v3.2.3-stable_x11.64