**/.vs/
**/Assembly*
**/Library/
**/Logs/
**/Packages/
**/ProjectSettings/
**/Temp/
**/obj/
**/UIElementsSchema/
**/Assets/*
!**/Assets/Scenes/
!**/Assets/Usable/
!**/Assets/Scripts/
!**/Assets/Prefabs/
!**/Assets/Editor/
**/**/*.meta